html{
    height: 100%;  
    width: 100%;
 }

body{
    height: 100%;
    
}

.ppt{
    padding-top: 75px;
}

.bgrad{
    background-image: linear-gradient(to bottom right, black, red);
}

.navbar i{
    float: left;
}