html{
    height: 100%;  
    width: 100%;
 }

body{
    height: 100%;

    background: url(../Images/smoke3.jpg) no-repeat center center/cover;
    
}

.ppt{
    padding-top: 75px;
}

.bgrad{
    /* background-image: linear-gradient(to bottom right, black, red); */
}

.navbar i{
    float: left;
}