*{
  font-family: 'Cormorant SC', serif;
  /* font-family: 'Eater', cursive; */
  /* font-family: 'Prociono', serif; */
  /* font-family: 'Spirax', cursive; */
}

html{
  height: 100%;  
  width: 100%;
  overflow-x: hidden;
}

body{
  background: url(./Images/smoke4.jpg) repeat-y center center;
  font-size: 1.3em;
  margin-top: 100px;
}

.ppt{
  padding-top: 175px;
}

.ppt2{
  padding-top: 12vh;
}

/* .bgrad{
   background-image: linear-gradient(to bottom right, black, red); 
} */

body nav span{
 font-family: spirax, cursive;
 font-size: 1.5em;
}

nav a i{
  color: white;
  padding-top: 10px;
}

i:hover{
  color: red;
}

a:hover{
  text-decoration: none;
  color: #DC2B00;
}

form a{
  color: green;
}

form a i{
  color:green;
}

.but{
  font-size: 1em;
}

.ppb{
  padding-bottom: 50px;
}

.icon-right{
  position: absolute;
  right: 15px;
  z-index: 1;
  padding-top: 15px;
  background-color: rgba(0,0,0,.1);
}

li a {
  color: black;
}

.cp {
  cursor: pointer;
}